body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

form {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    margin: 50px auto;
}

h2 {
    text-align: center;
    color: #333;
}



.form-group {
    position: relative;
}

.form-group i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #ccc;
}